@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 100%;

    &__return{
        font-size: 90%;
        color: map-get(variables.$baseVars, "color");
        text-decoration: none;
        font-weight: 500;
        padding: 2rem 6rem;
    }
    
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 2rem;
        width: 100%;
    }

    &__figure{
        width: 50%;
        height: 40rem;
        @include mixins.flexBox;
        position: relative;
        transition: 0.2s all;

        &:hover &--wrapper{
            display: flex;
        }

        &--image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--wrapper{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            @include mixins.flexBox;
            gap: 2rem;
            background: rgba(map-get(variables.$baseVars, "dark"), 0.9);
            display: none
        }
        &--link{
            @include mixins.flexBox;
            color: map-get(variables.$baseVars, "color");
            text-decoration: none;
            font-size: 220%;
            transition: 0.2s all;

            &:hover{
                color: map-get(variables.$baseVars, "accent");
            }
        }
    }

    &__info{
        width: 40%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 4rem;

        &--wrapper{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 1rem;
        }

        &--description{
            font-size: 80%;
        }

        &--list{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
        }

        &--item{
            font-size: 80%;
            padding: 0 0.8rem;
            
            &-HTML{
                border: 0.2rem solid map-get(variables.$colorVars, "HTML");
            }
            &-CSS{
                border: 0.2rem solid map-get(variables.$colorVars, "CSS");
            }
            &-SCSS{
                border: 0.2rem solid map-get(variables.$colorVars, "SCSS");
            }
            &-JAVASCRIPT{
                border: 0.2rem solid map-get(variables.$colorVars, "JAVASCRIPT");
            }
            &-LARAVEL{
                border: 0.2rem solid map-get(variables.$colorVars, "LARAVEL");
            }
            &-REACT{
                border: 0.2rem solid map-get(variables.$colorVars, "REACT");
            }
            &-PHP{
                border: 0.2rem solid map-get(variables.$colorVars, "PHP");
            }
            &-TAILWIND{
                border: 0.2rem solid map-get(variables.$colorVars, "TAILWIND");
            }
            &-DOTNET{
                border: 0.2rem solid map-get(variables.$colorVars, "DOTNET");
            }
            &-WORDPRESS{
                border: 0.2rem solid map-get(variables.$colorVars, "WORDPRESS");
            }
        }
    }
}