@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/animations";

.loadingProjects{
    &__item{
        &--figure{
            width: 100%;
            height: 15rem;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
            position: relative;
            overflow: hidden;
            
            &::after{
                content: "";
                position: absolute;
                background: rgba(map-get(variables.$baseVars, "background"), 0.8);
                width: 4rem;
                height: 100%;
                @include animations.loadingImage;
                border-radius: 1rem 1rem 0 0;
            }
        }

        &--wrapper{
            padding: 2rem;
            width: 15rem;
        }
        &--text{
            width: 100%;
            height: 2rem;
            background: rgba(map-get(variables.$baseVars, "background"), 0.8);
            border-radius: 0.2rem;
            position: relative;
            
            &::after{
                content: "";
                position: absolute;
                width: 2rem;
                height: 100%;
                @include animations.loadingText;
                background: rgba(map-get(variables.$baseVars, "dark"), 0.2);
            }
        }
    }
}