@use "variables";
@use "mixins";

body{
    min-height: 100vh;
    background: map-get(variables.$baseVars, "background");
    color: map-get(variables.$baseVars, "color");
    font-family: map-get(variables.$baseVars, "font");
    font-size: 2rem;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5rem;
    width: 100%;
    padding: 2rem 15rem;
    @include mixins.screenheight;
}

.main__projects{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}