*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #090909;
  color: white;
  font-family: "Poppins";
  font-size: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5rem;
  width: 100%;
  padding: 4rem 15rem;
  min-height: calc(100vh - 12.4rem);
}

.main__projects {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}

@keyframes loading {
  from, 20%, 53%, to {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, -3rem, 0) scaleY(1.1);
  }
}
@keyframes loadingImage {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loadingText {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 100%;
  }
}
@keyframes words {
  0% {
    content: "";
  }
  5% {
    content: "S";
  }
  10% {
    content: "So";
  }
  15% {
    content: "Sof";
  }
  20% {
    content: "Soft";
  }
  25% {
    content: "Softw";
  }
  30% {
    content: "Softwa";
  }
  35% {
    content: "Softwar";
  }
  40% {
    content: "Software";
  }
  45% {
    content: "Software ";
  }
  50% {
    content: "Software d";
  }
  55% {
    content: "Software de";
  }
  60% {
    content: "Software dev";
  }
  65% {
    content: "Software deve";
  }
  70% {
    content: "Software devel";
  }
  75% {
    content: "Software develo";
  }
  80% {
    content: "Software develop";
  }
  95% {
    content: "Software develope";
  }
  100% {
    content: "Software developer";
  }
}
@keyframes typing {
  0% {
    content: " ";
  }
  3% {
    content: " s";
  }
  6% {
    content: " st";
  }
  9% {
    content: " stu";
  }
  12% {
    content: " stud";
  }
  15% {
    content: " stude";
  }
  18% {
    content: " studen";
  }
  21% {
    content: " student";
  }
  24% {
    content: " student.";
  }
  27% {
    content: " student";
  }
  30% {
    content: " studen";
  }
  33% {
    content: " stude";
  }
  36% {
    content: " stud";
  }
  39% {
    content: " stu";
  }
  42% {
    content: " st";
  }
  45% {
    content: " s";
  }
  48% {
    content: " ";
  }
  51% {
    content: " i";
  }
  54% {
    content: " in";
  }
  57% {
    content: " int";
  }
  60% {
    content: " inte";
  }
  63% {
    content: " inter";
  }
  66% {
    content: " intern";
  }
  69% {
    content: " intern.";
  }
  72% {
    content: " intern";
  }
  75% {
    content: " inter";
  }
  78% {
    content: " inte";
  }
  81% {
    content: " int";
  }
  84% {
    content: " in";
  }
  87% {
    content: " i";
  }
  90% {
    content: " ";
  }
}
@keyframes typingDutch {
  0% {
    content: " s";
  }
  3% {
    content: " s";
  }
  6% {
    content: " st";
  }
  9% {
    content: " stu";
  }
  12% {
    content: " stud";
  }
  15% {
    content: " stude";
  }
  18% {
    content: " studen";
  }
  21% {
    content: " student";
  }
  24% {
    content: " student.";
  }
  27% {
    content: " student";
  }
  30% {
    content: " studen";
  }
  33% {
    content: " stude";
  }
  36% {
    content: " stud";
  }
  39% {
    content: " stu";
  }
  42% {
    content: " st";
  }
  45% {
    content: " s";
  }
  48% {
    content: " st";
  }
  51% {
    content: " sta";
  }
  54% {
    content: " stag";
  }
  57% {
    content: " stagi";
  }
  60% {
    content: " stagia";
  }
  63% {
    content: " stagiai";
  }
  66% {
    content: " stagiair";
  }
  69% {
    content: " stagiaire";
  }
  72% {
    content: " stagiaire.";
  }
  75% {
    content: " stagiaire";
  }
  78% {
    content: " stagiair";
  }
  81% {
    content: " stagiai";
  }
  84% {
    content: " stagia";
  }
  87% {
    content: " stagi";
  }
  90% {
    content: " stag";
  }
  93% {
    content: " sta";
  }
  96% {
    content: " st";
  }
  99% {
    content: " s";
  }
}
@keyframes move {
  0%, 100% {
    transform: translateY(0) translateX(0) scale(1);
  }
  25% {
    transform: translateY(-2rem) translateX(1.5rem) scale(1.1);
  }
  50% {
    transform: translateY(2rem) translateX(-1.5rem) scale(0.9);
  }
  75% {
    transform: translateY(-1rem) translateX(-2rem) scale(1.05);
  }
}
.header {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.16rem 15rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header__link {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 120%;
}
.header__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 15rem;
}
.header__navigation--item {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.header__navigation--loading {
  background: rgba(187, 187, 187, 0.2);
  width: 10rem;
  height: 3rem;
  border-radius: 0.4rem;
  position: relative;
  overflow: hidden;
}
.header__navigation--loading::after {
  content: "";
  width: 0.8rem;
  height: 100%;
  box-shadow: -1rem 0 0.8rem 0.4rem rgba(187, 187, 187, 0.2);
  position: absolute;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.header__button {
  position: absolute;
  right: 4rem;
  border: 0.1rem solid #6482AD;
  font-family: inherit;
  font-size: 90%;
  background: none;
  color: white;
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border-radius: 0.2rem;
}
.header__button--icon {
  font-size: 85%;
}
.header__loading {
  width: 6rem;
  overflow: hidden;
}
.header__loading::before {
  content: "";
  width: 4rem;
  height: 2rem;
  background: rgba(187, 187, 187, 0.2);
  border-radius: 0.2rem;
}
.header__loading::after {
  content: "";
  width: 1rem;
  height: 2rem;
  box-shadow: -1rem 0 0.8rem 0.4rem rgba(187, 187, 187, 0.2);
  position: absolute;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  left: 1rem;
}

.home__title {
  font-size: 240%;
  position: relative;
}
.home__title::after {
  content: "";
  width: 100%;
  background: #6482AD;
  height: 3rem;
  position: absolute;
  bottom: 5%;
  left: 20%;
  z-index: -1;
}

.contact {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  position: relative;
  z-index: 0;
}
.contact__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.contact__links--item {
  font-size: 220%;
  color: white;
  transition: 0.2s all;
}
.contact__links--item:hover {
  color: #6482AD;
}

.heading {
  background: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heading__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.heading__dot {
  position: absolute;
  animation: move 8s ease-in-out infinite;
  width: 0.8rem;
  aspect-ratio: 1/1;
  background: #6482AD;
  border-radius: 50%;
}
.heading__dot:nth-of-type(1) {
  animation-delay: 1s;
}
.heading__dot:nth-of-type(2) {
  animation-delay: 2s;
}
.heading__dot:nth-of-type(3) {
  animation-delay: 3s;
}
.heading__dot:nth-of-type(4) {
  animation-delay: 4s;
}
.heading__dot:nth-of-type(5) {
  animation-delay: 5s;
}
.heading__dot:nth-of-type(1) {
  top: 10%;
}
.heading__dot:nth-of-type(2) {
  left: 20%;
  top: 20%;
}
.heading__dot:nth-of-type(3) {
  left: 15%;
  bottom: 20%;
}
.heading__dot:nth-of-type(4) {
  right: 10%;
  top: 25%;
}
.heading__dot:nth-of-type(5) {
  right: 25%;
  bottom: 20%;
}
.heading__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}
.heading__text--title {
  font-size: 240%;
  position: relative;
}
.heading__text--title::after {
  content: ".";
  position: absolute;
  color: #6482AD;
}
.heading__text--intro {
  font-weight: 500;
  color: #6482AD;
  position: relative;
}
.heading__text--intro::before {
  content: "";
  width: 100%;
  height: 100%;
  animation-name: words;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.heading__text--intro::after {
  content: "";
  position: absolute;
  margin-left: 1rem;
  height: 100%;
  animation-name: typing;
  animation-duration: 8s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
.heading__text--introDutch {
  font-weight: 500;
  color: #6482AD;
  position: relative;
}
.heading__text--introDutch::before {
  content: "";
  width: 100%;
  height: 100%;
  animation-name: words;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.heading__text--introDutch::after {
  content: "";
  position: absolute;
  margin-left: 1rem;
  height: 100%;
  animation-name: typingDutch;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.heading__button {
  border: 0.2rem solid #6482AD;
  padding: 1.8rem 2rem;
  font-size: 100%;
  color: #6482AD;
  text-decoration: none;
  font-weight: 600;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  width: 50%;
  margin-bottom: 2rem;
  text-align: center;
}
.about__skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about__skills--item {
  height: 5rem;
  width: 100%;
  object-fit: cover;
}

.loadingAbout__title {
  width: 20rem;
  background: rgba(0, 0, 0, 0.2);
  height: 5rem;
  border-radius: 0.4rem;
  position: relative;
  overflow: hidden;
}
.loadingAbout__title::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border-radius: 0.4rem;
}
.loadingAbout__info {
  width: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.movies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.movies__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies__heading--button {
  background: none;
  border: none;
  font-size: 110%;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  color: white;
  transition: 0.2s all;
}
.movies__heading--button:hover {
  cursor: pointer;
  color: #6482AD;
}
.movies__heading--button:focus {
  outline: none;
}
.movies__info {
  background: #6482AD;
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 70%;
  position: absolute;
  top: -5%;
  right: -5%;
}
.movies__info--background {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  padding: 2rem;
  position: fixed;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all;
}
.movies__info--card {
  background: #090909;
  z-index: 10000;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  font-size: 90%;
  border-radius: 0.4rem;
}
.movies__title {
  font-size: 160%;
  position: relative;
}
.movies__title::after {
  content: "";
  width: 80%;
  background: #6482AD;
  height: 3rem;
  position: absolute;
  bottom: -10%;
  left: 35%;
  z-index: -1;
}
.movies__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
.movies__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: black;
  padding: 2rem;
}
.movies__item--image {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}
.movies__item--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.movies__item--title {
  font-weight: 600;
}
.movies__item--button {
  background: none;
  border: 0.3rem solid #6482AD;
  color: white;
  padding: 0.6rem 1rem;
  font-size: 90%;
  font-family: inherit;
  font-weight: 600;
}
.movies__item--button:focus {
  outline: none;
  background: #6482AD;
  color: #090909;
}
.movies__item--button:hover {
  cursor: pointer;
}

.loadingMovies {
  background: red;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
.work__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 45rem;
  background: black;
}
.work__image {
  width: 75%;
  height: 100%;
  object-fit: cover;
}
.work__info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
}
.work__info--text {
  font-size: 80%;
}
.work__info--text-link {
  color: #6482AD;
  text-decoration: none;
}
.work__info--text-link:hover {
  color: rgb(85.6329113924, 116.9620253165, 161.8670886076);
}
.work__info--list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.work__info--links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.work__info--links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  text-decoration: none;
}
.work__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.work__buttons--item {
  background: none;
  border: none;
  font-size: 100%;
  color: white;
}
.work__buttons--item:hover {
  cursor: pointer;
  color: #6482AD;
}
.work__link {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 120%;
  transition: 0.2s;
  text-decoration: none;
  border-bottom: 0.4rem solid #6482AD;
}
.work__link:hover {
  color: #6482AD;
}

.loadingWork__figure {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 75%;
  position: relative;
  overflow: hidden;
}
.loadingWork__figure::after {
  content: "";
  width: 20rem;
  position: absolute;
  height: 100%;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background: rgba(9, 9, 9, 0.4);
}
.loadingWork__info--figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.loadingWork__info--text {
  border-radius: 0.6rem;
  width: 100%;
  background: rgba(9, 9, 9, 0.7);
  position: relative;
  overflow: hidden;
  height: 2rem;
}
.loadingWork__info--text::after {
  content: "";
  position: absolute;
  width: 10rem;
  background: rgba(9, 9, 9, 0.8);
  height: 100%;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loadingWork__info--year {
  border-radius: 0.6rem;
  width: 50%;
  background: rgba(9, 9, 9, 0.7);
  position: relative;
  overflow: hidden;
  height: 2rem;
}
.loadingWork__info--year::after {
  content: "";
  position: absolute;
  width: 10rem;
  background: rgba(9, 9, 9, 0.8);
  height: 100%;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.filters {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.filters__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  min-width: 14rem;
}
.filters__button {
  background: rgba(187, 187, 187, 0.2);
  font-size: 100%;
  border: none;
  font-family: inherit;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 0.4rem 2rem;
  border-radius: 0.4rem;
  color: white;
  text-transform: uppercase;
  width: 100%;
}
.filters__button:focus {
  outline: none;
}
.filters__reset {
  background: rgba(187, 187, 187, 0.2);
  color: white;
  border: none;
  font-family: inherit;
  font-size: 100%;
  padding: 0.4rem 2rem;
  font-weight: 600;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters__dropdown {
  top: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: black;
  width: 100%;
}
.filters__dropdown--item {
  background: none;
  border: none;
  font-size: 90%;
  padding: 1rem;
  color: white;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: inherit;
}
.filters__dropdown--item:hover {
  cursor: pointer;
  background: #6482AD;
}
.filters__dropdown--item:focus {
  outline: none;
}

.projects {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}
.projects__item {
  background: black;
  width: 23.7%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-decoration: none;
  color: white;
  border-radius: 1rem;
}
.projects__item--image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.projects__item--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}
.projects__item--languages {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  font-size: 80%;
}
.projects__item--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.projects__item--title {
  font-size: 90%;
}
.projects__item--year {
  font-size: 70%;
}

.loadingProjects__item--figure {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  position: relative;
  overflow: hidden;
  background: rgba(187, 187, 187, 0.2);
}
.loadingProjects__item--figure::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: -5rem 0 3rem 0.3rem rgba(187, 187, 187, 0.1);
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loadingProjects__item--wrapper {
  padding: 2rem;
  width: 15rem;
}
.loadingProjects__item--text {
  width: 100%;
  height: 2rem;
  background: rgba(187, 187, 187, 0.2);
  border-radius: 0.2rem;
  position: relative;
}
.loadingProjects__item--text::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  box-shadow: -1rem 0 0.8rem 0.3rem rgba(187, 187, 187, 0.2);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4rem;
  width: 100%;
}
.project__return {
  font-size: 90%;
  color: rgb(133.3544303797, 156.8987341772, 190.6455696203);
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.project__return--loading {
  position: relative;
  overflow: hidden;
  width: 20rem;
}
.project__return--loading::before {
  content: "";
  height: 3rem;
  width: 100%;
  border-radius: 0.4rem;
  position: absolute;
  background: rgba(187, 187, 187, 0.2);
}
.project__return--loading::after {
  content: "";
  height: 3rem;
  width: 2rem;
  box-shadow: -1rem 0 0.8rem 0.1rem rgba(187, 187, 187, 0.1);
  position: absolute;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.project__wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  width: 100%;
}
.project__figure {
  width: 50%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.project__figure:hover .project__figure--wrapper {
  opacity: 1;
}
.project__figure--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project__figure--wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: 0.4s all;
}
.project__figure--link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 220%;
  transition: 0.2s all;
}
.project__figure--link:hover {
  color: #6482AD;
}
.project__info {
  width: 40%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4rem;
}
.project__info--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.project__info--description {
  font-size: 80%;
}
.project__info--list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.project__info--item {
  font-size: 80%;
  padding: 0 0.8rem;
}
.project__info--item-HTML {
  border: 0.2rem solid #FC4100;
}
.project__info--item-CSS {
  border: 0.2rem solid #001F3F;
}
.project__info--item-SCSS {
  border: 0.2rem solid hotpink;
}
.project__info--item-JAVASCRIPT {
  border: 0.2rem solid #FFEB00;
}
.project__info--item-LARAVEL {
  border: 0.2rem solid darkred;
}
.project__info--item-REACT {
  border: 0.2rem solid #608BC1;
}
.project__info--item-PHP {
  border: 0.2rem solid #001F3F;
}
.project__info--item-TAILWIND {
  border: 0.2rem solid #3A6D8C;
}
.project__info--item-DOTNET {
  border: 0.2rem solid #593a8c;
}
.project__info--item-WORDPRESS {
  border: 0.2rem solid #1E3E62;
}

.loadingProject__return {
  position: relative;
  width: 30rem;
  height: 2.5rem;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
}
.loadingProject__return::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.2);
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border-radius: 0.4rem;
}
.loadingProject__figure {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  background: rgba(187, 187, 187, 0.2);
  overflow: hidden;
}
.loadingProject__figure::after {
  content: "";
  position: absolute;
  box-shadow: -3rem 0 3rem 0.3rem rgba(187, 187, 187, 0.1);
  height: 100%;
  width: 10rem;
  left: 0;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loadingProject__info--title {
  width: 20rem;
}
.loadingProject__info--year {
  width: 10rem;
}
.loadingProject__info--figure {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.8rem;
}
.loadingProject__info--text {
  border-radius: 0.2rem;
  width: 100%;
  background: rgba(187, 187, 187, 0.2);
  position: relative;
  overflow: hidden;
  height: 2rem;
}
.loadingProject__info--text::after {
  content: "";
  position: absolute;
  width: 10rem;
  box-shadow: -2rem 0 2rem 0.2rem rgba(187, 187, 187, 0.2);
  height: 100%;
  animation-name: loadingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}
.loading__item {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #6482AD;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: loading;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading__item:nth-of-type(1) {
  animation-delay: 0.3333333333s;
}
.loading__item:nth-of-type(2) {
  animation-delay: 0.6666666667s;
}
.loading__item:nth-of-type(3) {
  animation-delay: 1s;
}

.footer {
  background: black;
  width: 100%;
  padding: 2rem 4rem;
  border-top: 0.1rem solid rgba(187, 187, 187, 0.4);
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(187, 187, 187);
  font-size: 75%;
}

@media screen and (min-width: 112.5rem) {
  .header__projects {
    padding: 1rem 20rem;
  }
  .filters {
    padding: 1rem 10rem;
  }
  .projects {
    padding: 0 10rem;
  }
}
@media screen and (max-width: 64rem) {
  .work__wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .work__image {
    width: 100%;
  }
  .work__info {
    width: 100%;
  }
  .projects__item {
    width: 48%;
  }
  .project__wrapper {
    flex-direction: column;
  }
  .project__figure {
    width: 100%;
  }
  .project__info {
    width: 100%;
  }
}
@media screen and (max-width: 54rem) {
  .header {
    padding: 2rem 0;
  }
  .header__projects {
    padding: 2rem;
  }
  .main {
    padding: 4rem 0;
    gap: 6rem;
  }
  .about {
    width: 70%;
    text-align: center;
  }
  .movies__info {
    right: 25%;
  }
  .work__wrapper {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 2rem 10rem;
  }
  .work__image {
    width: 100%;
    height: 34rem;
  }
  .work__info {
    width: 100%;
  }
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .projects__item {
    width: 45%;
  }
  .project__wrapper {
    flex-direction: column;
    padding: 2rem;
  }
  .project__figure {
    width: 100%;
  }
  .project__info {
    width: 100%;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 27rem) {
  .header {
    padding: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .header__projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__navigation {
    padding: 0;
    display: none;
  }
  .header__button {
    position: static;
  }
  .heading__text--title {
    font-size: 180%;
  }
  .heading__text--intro, .heading__text--introDutch {
    font-size: 100%;
  }
  .heading__text--intro::after, .heading__text--introDutch::after {
    margin-left: 0.5rem;
  }
  .main {
    padding: 0;
  }
  .home__title {
    font-size: 200%;
  }
  .about {
    width: 100%;
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about__text {
    text-align: center;
    font-size: 90%;
  }
  .about__skills {
    gap: 1rem;
  }
  .about__skills--item {
    height: 4rem;
  }
  .movies__info {
    right: 5%;
  }
  .movies__title {
    font-size: 140%;
  }
  .work {
    width: 100%;
  }
  .work__wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  .work__image {
    width: 100%;
  }
  .work__info {
    width: 100%;
  }
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects {
    flex-direction: column;
    padding: 2rem;
  }
  .projects__item {
    width: 100%;
  }
  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column-reverse;
  }
  .project__wrapper {
    flex-direction: column;
  }
  .project__figure {
    width: 100%;
    height: 20rem;
    padding: 1rem;
  }
  .project__info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project__info--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project__info--title {
    font-size: 120%;
  }
  .project__info--year {
    font-size: 80%;
  }
  .project__info--description {
    text-align: center;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
