@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.movies{
    width: 100%;
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    &__heading{
        @include mixins.flexBox;

        &--button{
            background: none;
            border: none;
            font-size: 110%;
            font-family: inherit;
            @include mixins.flexBox;
            gap: 1rem;
            font-weight: 600;
            color: map-get(variables.$baseVars, "color");
            transition: 0.2s all;

            &:hover{
                cursor: pointer;
                color: map-get(variables.$baseVars, "accent");
            }

            &:focus{
                outline: none;
            }
        }
    }

    &__info{
        background: map-get(variables.$baseVars, "accent");
        width: 2.5rem;
        aspect-ratio: 1/1;
        @include mixins.flexBox;
        border-radius: 50%;
        font-size: 70%;
        position: absolute;
        top: -5%;
        right: -5%;

        &--background{
            background: rgba(map-get(variables.$baseVars, "dark"), 0.4);
            width: 100%;
            height: 100%;
            top: 0;
            padding: 2rem;
            position: fixed;
            z-index: 1001;
            @include mixins.flexBox;
            transition: 0.4s all;
        }

        &--card{
            background: map-get(variables.$baseVars, "background");
            z-index: 10000;
            height: 20rem;
            @include mixins.flexBox;
            padding: 4rem;
            font-size: 90%;
            border-radius: 0.4rem;
        }
    }

    &__title{
        @include mixins.smallTitle;
    }

    &__wrapper{
        @include mixins.flexBox;
        flex-direction: column;
        gap: 4rem;
        position: relative;
    }

    &__item{
        @include mixins.flexBox;
        flex-direction: column;
        gap: 1rem;
        background: map-get(variables.$baseVars, "dark");
        padding: 2rem;

        &--image{
            width: 30rem;
            height: 20rem;
            object-fit: cover;
        }

        &--wrapper{
            @include mixins.flexBox;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
        }

        &--title{
            font-weight: 600;
        }

        &--button{
            background: none;
            border: 0.3rem solid map-get(variables.$baseVars, "accent");
            color: map-get(variables.$baseVars, "color");
            padding: 0.6rem 1rem;
            font-size: 90%;
            font-family: inherit;
            font-weight: 600;

            &:focus{
                outline: none;
                background: map-get(variables.$baseVars, "accent");
                color: map-get(variables.$baseVars, "background");
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}