@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.heading{
    background: map-get(variables.$baseVars, "dark");
    width: 100%;
    height: 100vh;
    @include mixins.flexBox;
}

.home__title{
    @include mixins.title;
}

.contact{
    background: map-get(variables.$baseVars, "dark");
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    position: relative;
    z-index: 0;

    &__links{
        @include mixins.flexBox;
        gap: 3rem;

        &--item{
            font-size: 220%;
            color: map-get(variables.$baseVars, "color");
            transition: 0.2s all;

            &:hover{
                color: map-get(variables.$baseVars, "accent");
            }
        }
    }
}