@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/animations";

.loadingWork{
    
    &__figure{
        background: rgba(map-get(variables.$baseVars, "dark"), 0.2);
        height: 100%;
        width: 75%;
        position: relative;
        overflow: hidden;

        &::after{
            content: "";
            width: 20rem;
            position: absolute;
            height: 100%;
            @include animations.loadingText;
            background: rgba(map-get(variables.$baseVars, "background"), 0.4);
        }
    }

    &__info{

        &--figure{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1rem;
            
        }

        &--text{
            border-radius: 0.6rem;
            width: 100%;
            background: rgba(map-get(variables.$baseVars, "background"), 0.7);
            position: relative;
            overflow: hidden;
            height: 2rem;
            
            &::after{
                content: "";
                position: absolute;
                width: 10rem;
                background: rgba(map-get(variables.$baseVars, "background"), 0.8);
                height: 100%;
                @include animations.loadingText;
            }
        }

        &--year{
            border-radius: 0.6rem;
            width: 50%;
            background: rgba(map-get(variables.$baseVars, "background"), 0.7);
            position: relative;
            overflow: hidden;
            height: 2rem;
            
            &::after{
                content: "";
                position: absolute;
                width: 10rem;
                background: rgba(map-get(variables.$baseVars, "background"), 0.8);
                height: 100%;
                @include animations.loadingText;
            }
        }
    }
}