@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/animations";

.about{
    @include mixins.flexBox;
    flex-direction: column;
    gap: 4rem;
    width: 50%;
    margin-bottom: 2rem;
    text-align: center;

    &__skills{
        @include mixins.flexBox;
        gap: 2rem;

        &--item{
            height: 5rem;
            width: 100%;
            object-fit: cover;
        }
    }
}